@model GestionVehicular.Models.Distrito

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-secondary">Nuevo</h1>

<h4 class="text-success">Distrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodDistrito" class="control-label"></label>
                <input asp-for="CodDistrito" class="form-control" />
                <span asp-validation-for="CodDistrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoDistrito" class="control-label"></label>
                <input asp-for="NoDistrito" class="form-control" />
                <span asp-validation-for="NoDistrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parroquia" class="control-label"></label>
                <input asp-for="Parroquia" class="form-control" />
                <span asp-validation-for="Parroquia" class="text-danger"></span>
            </div>
            <hr />
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
