@model GestionVehicular.Models.TipoMantenimiento

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-secondary">Detalle</h1>

<div>
    <h4 class="text-success">Tipo de Mantenimiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Activo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
        <dt class="col-sm-2">
            Fecha de Creación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoMantenimientoId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
