@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h3 class="text-primary"><b>Sistema de Gestión Vehicular</b></h3>
    <p class="text-secondary">
        Sistema de control y logística de la Policía Nacional, Alta gerencia de la Policía Nacional Sub-Zona 7 Loja.
    </p>
    <br />
    <img src="~/img/home-1.jpg" />
</div>
