@model GestionVehicular.Models.Movilizacion

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-secondary">Editar</h1>

<h4 class="text-success">Movilización</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovilizacionId" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input type="date" asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label">Hora de Salida</label>
                <input type="time" asp-for="HoraSalida" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraLlegada" class="control-label">Hora de Llegada</label>
                <input type="time" asp-for="HoraLlegada" class="form-control" />
                <span asp-validation-for="HoraLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilometrosSalida" class="control-label">Kilómetros de Salida</label>
                <input asp-for="KilometrosSalida" class="form-control" />
                <span asp-validation-for="KilometrosSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilometrajeLlegada" class="control-label">Kilómetros de Llegada</label>
                <input asp-for="KilometrajeLlegada" class="form-control" />
                <span asp-validation-for="KilometrajeLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label">Observación</label>
                <textarea asp-for="Observacion" class="form-control"></textarea>
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta" class="control-label">Ruta</label>
                <textarea asp-for="Ruta" class="form-control"></textarea>
                <span asp-validation-for="Ruta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroOcupante" class="control-label">NumeroOcupante</label>
                <textarea asp-for="NumeroOcupante" class="form-control"></textarea>
                <span asp-validation-for="NumeroOcupante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatoOcupante" class="control-label">DatoOcupante</label>
                <textarea asp-for="DatoOcupante" class="form-control"></textarea>
                <span asp-validation-for="DatoOcupante" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuario</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehiculoId" class="control-label">Vehículo</label>
                <select asp-for="VehiculoId" class="form-control" asp-items="ViewBag.VehiculoId"></select>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsActivo" /> Activo
                </label>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>

            <hr />
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="submit" value="Actualizar" class="btn btn-warning" />
                    </div>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
